<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <connectionStrings>
        <add name="IssueManagementSystem" connectionString="server=.\sqlexpress;database=IssueManagementSystem;integrated security=true;"
            providerName="System.Data.SqlClient" />
        <add name="IssueMAnagementSystemV1._0.Properties.Settings.IssueManagementSystemConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=IssueManagementSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>